
@{
    ViewBag.Title = "User Agreement";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html>
<meta charset="utf-8">
<title> User Agreement </title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css1/main.css">

    <style>
        .alpha_ol {
            list-style-type: upper-alpha;
        }

            .alpha_ol li {
                margin: 15px 25px;
                color: #444;
                font-family: 'OpenSans';
                font-size: 14px;
                font-weight: 400;
            }

        p {
            color: #444;
            font-family: 'OpenSans';
            font-size: 14px;
            font-weight: 400;
        }

        .heading {
            font-size: 20px;
            font-family: futura, sans-serif;
            font-weight: 400;
            margin-top: 50px !important;
        }

        .main_head {
            font-size: 30px;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            color: #171919;
            font-family: futura;
        }
        .navbar-nav{
            float:right !important;
        }
    </style>

</head>

<body>
    <div class="container">

        <h3 class="text-center main_head">User Agreement</h3>

        <h5 class="text-center mt-5">
            PLEASE READ THIS USER AGREEMENT CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS AND A BINDING ARBITRATION AGREEMENT AND CLASS ACTION WAIVER.
        </h5>

        <p class="mt-5">
            The Agreement: The use of this website and services on this website provided by Wiraa Innovations Private Limited (hereinafter referred to as “Wiraa”) are subject to the following Terms and Conditions (hereinafter referred to as “Terms of Service”), all parts and sub-parts of which are specifically incorporated herein. Following are the Terms of Service governing your use of Wiraa (the “Website”), all the pages on the website and any services provided by or on this website (“Services”).
        </p>
        <p class="mt-5">By accessing either directly or through hyperlink, the Website, and/or availing services from Wiraa, you engage in our “Services" and agree to be bound by the Terms of Service including those additional terms and conditions and policies referred herein.</p>
        <p class="mt-5">Subject to the terms and conditions set forth herein, Wiraa may, in its own discretion, may amend this Agreement or any other agreement that comprise the Terms of Service at any time by posting the amended version of the Terms of Service on the Wiraa. Wiraa will provide notification of such change via email, by posting the revised version on Wiraa, or a notice on the Wiraa website. If any substantial change includes change in fees charged by Wiraa, such change shall be notified via email or as a notice on the Wiraa. Any revisions to the Terms of Service shall take effect as on the noted effective date.</p>

        <h5 class="mt-5 text-dark heading">PURPOSE:</h5>
        <p class="mt-5">Wiraa is a platform where Clients and Professionals can identify and connect with each other and advertise, buy or sell the Professional services online via Wiraa. Wiraa aspire to connect inspiring talents searching for work opportunity in areas, including, but not limited to, business, creative, engineering, IT, marketing, writing, education, lifestyle, etc., with surety to perform in secured environment. Wiraa enables Users to connect and work together online to perform the projects, buy and sell the Professional services via Wiraa platform.</p>
        <p class="mt-5">NOW THEREFORE, in consideration of the mutual covenants and obligations contained herein, and intending to be legally bound, the parties hereto, subject to the terms and conditions set forth herein, hereby agree as follows:</p>

        <h5 class="mt-5 text-dark heading">1.	DEFINITIONS</h5>
        <p class="mt-5">	“Agreement” shall mean this Service Agreement and includes the annexures, schedules and any amendments made hereto in the manner prescribed herein, as amended from time to time.</p>
        <p class="mt-5">	“Applicable Law(s)” means the applicable central, state, and local laws of Republic of India, including the rules, regulations and guidelines issued by any Indian governmental, regulatory, executive and judicial and other statutory authorities.</p>
        <p class="mt-5">	“Client” means the company(s), agency(s) or individual(s) who sign-up with Wiraa and post their request to hire a Professional with regard to availing services of Professional via Wiraa for a specific project or an assignment.</p>
        <p class="mt-5">	“Confidential Information” means all information that has been developed by the one party (“Wiraa”), which the party considers valuable, proprietary, and confidential and which is disclosed to the other Party (“Professional”). Confidential Information includes all materials, notes, analysis, compilations, studies or other physical or electronic documents, whether prepared by the Owner or by others, to the extent that such documents contain, reflect, or are otherwise based in whole or in part on Confidential Information.</p>
        <p class="mt-5">	“Freelancing Services” means all services performed for or delivered to Clients by Professionals.</p>
        <p class="mt-5">	“Intellectual Property Rights” or “IPRs” include (i) all rights, title, and interest under any statute or under common law including patent rights; copyrights including moral rights; and any similar rights in respect of Intellectual Property, anywhere in the world, whether negotiable or not; (ii) any licenses, permissions and grants in connection therewith; (iii) applications for any of the foregoing and the right to apply for them in any part of the world; (iv) right to obtain and hold appropriate registrations in Intellectual Property and, (v) all extensions and renewals thereof; (vi) causes of action in the past, present or future, related thereto including the rights to damages and profits, due or accrued, arising out of past, present or future infringements or violations thereof and the right to sue for and recover the same.</p>
        <p class="mt-5">	“Owner, Us, We” includes as the creator, publisher or operator of Wiraa, created the Wiraa website and provided certain services on it, available to users. Wiraa, Owner, Us, ours, and other first-person pronouns will refer to the Owner, as well as employees and affiliates of the Owner.</p>
        <p class="mt-5">	“Parties” to these Terms of Service, collectively, be referred to as Parties and individually, as Party.</p>
        <p class="mt-5">	“Payment Method” means a valid debit/credit card issued by a bank acceptable to Wiraa, a bank account linked to your account, or such other payment method as acceptable by Wiraa from time to time on our sole discretion.</p>
        <p class="mt-5">	“Professional” means any authorised user utilizing the Wiraa services, including Direct Contract Services, to advertise or provide the freelancing services to Clients, including Professional accounts that are Company/Agency accounts or if applicable, their team members. The Professionals are customer of Wiraa with respect to use of Wiraa and Wiraa services.</p>
        <p class="mt-5">	“Project” or “Assignment” means a job offered or awarded by a Client via Wiraa, which may include a Project, or an assignment posted by a client or a service bought by a Client from a Professional.</p>
        <p class="mt-5">	“You, the User, the Client” means You as user of the Wiraa, will be referred to throughout the Terms of Service wit second-person pronouns such as You, Your, Yours or as User or Client. For the purpose of this terms of service, the user or you shall mean any natural or legal person who is accessing the Wiraa. The term your shall be construed accordingly.</p>
        <p class="mt-5">	“Wiraa escrow” means an account where the funds are being kept before transferring it to the ultimate party.</p>

        <h5 class="mt-5 text-dark heading">2.	ASSENT AND ACCEPTANCE</h5>
        <p class="mt-5">	By registering for an account to use the Wiraa and Wiraa services, by clicking to accept the Terms of Service when prompted on the Wiraa, or by signing-up with the Wiraa account as on the effective date, you agree to abide by this Agreement and Terms of Service. Based on the services opted by User, additional terms and conditions may apply which shall be deemed to be an agreement between the Owner and User. If you do not agree to abide by this Agreement and other Terms of Service, you shall not be authorised to use the Wiraa or Wiraa services and may leave the Wiraa immediately. Wiraa reserves the right to decline the registration of account, or to post request, or to join or add an account as a Client or Professional, on Wiraa, for any lawful reason whatsoever.</p>
        <p class="mt-5">	If you register an account as an employee or agent on behalf of the company or an agency, you warrant that you are the authorised person to act on behalf of the company to enter into binding contracts, including Terms of Service.</p>

        <h5 class="mt-5 text-dark heading">3.	ACCOUNT WITH WIRAA</h5>
        <p class="mt-5">	You agree to provide true, complete and rightful information on your Account profile of Wiraa and at any other forms or details filled up by you on Wiraa or provided to Wiraa. You agree not to provide any false or misleading information about your identity or location, details about your business or skill set and to correct any false or misleading information.</p>
        <p class="mt-5">	You agree no other person, than yourself, shall use the account of Wiraa, on your behalf or for any other purposes, except that an authorised employee or agent may create an account on behalf of your company or agency.</p>
        <p class="mt-5">	On signing-up with Wiraa, each user is asked to select username and password to register an account with Wiraa. User must register for their own account. and keep safe the login credentials of your account with Wiraa. You shall be entirely responsible for safeguarding and maintaining the credentials of your account with Wiraa. You agree not to share the login credentials with any other person, except if you act as an authorised person or agent of a company or an agency. You agree and acknowledge that any person using Wiraa with your login credentials, either is you or authorised to act as you.</p>

        <h5 class="mt-5 text-dark heading">4.	RELATIONSHIP WITH WIRAA</h5>
        <p class="mt-5">	This Agreement shall not constitute any employer-employee relationship or a partnership or joint venture between Wiraa and User and the User shall not be eligible for any rights or benefits of employment. Wiraa merely provides the online platform for Professionals and Clients to connect and transact with each other for the services and offers they provide. Client agree and acknowledge that Wiraa shall not have any liability or any obligations, including under or relating to service contract with Professionals, for any act or omissions by the Professional or the Client.</p>
        <p class="mt-5">	Unless otherwise stated, Wiraa shall not introduce Professional to Clients, or select project or the Professionals. Though Wiraa shall provide the details of Professionals as per skill set, suitable for the projects of the Client. However, Client shall be solely responsible for evaluating and determining the Professional; payment method; or the time, place and means of availing the services.</p>
        <p class="mt-5">	Client agree and acknowledge that Wiraa is not a party to the agreement or involved in any dealings between the Client and Professional. Client further agree and acknowledge that Client shall be solely responsible, without limitation, for determining the suitability and timeliness of the service contract between Users; negotiation and execution of terms and conditions in the contract; payment methods and fees for the agreed professional services.</p>
        <p class="mt-5">	Client agree and acknowledge that Wiraa shall not, in any way, supervise, direct, or control the Client or the Professional or their services; and shall not impose any quality standards or a deadline for completion of any Professional Services; and neither dictate the performance, methods or process that Client imply to perform or pay for the Professional Services.</p>
        <p class="mt-5">	Without limiting foregoing clauses, in case of company or an agency, you agree, understand and acknowledge that (i) that Company/Agency shall be solely responsible for the transactions made by their employees or agents; (ii) Wiraa shall not be responsible for paying to the employees or agents for their services; (iii) Wiraa shall not be a party to any agreement between Company/Agency and employee/agents; (iv) in case of any default by Company/Agency or their employee/agents, Wiraa shall not have any liability or obligation under or any such agreement between company/agency and employee/agents; (v) Wiraa shall not warrant or represent as to reliability, credibility or qualifications of any company/agency or their employee/agents, or for their capability of making payments for the services.</p>
        <p class="mt-5">	Wiraa shall not be responsible for any incomplete transaction or Wiraa could not complete a transaction, due to any limitation by the applicable law or in case a financial institution fails to honour any payment to or from an account associated with such payment method. Wiraa shall reasonably help to resolve such transaction in a manner consistent with this Agreement.</p>

        <h5 class="mt-5 text-dark heading">5.	RELATIONSHIP WITH OTHER USERS</h5>
        <p class="mt-5">	Client agree and acknowledge that any contractual relationship between Client and Professional shall be at their discretion whether to enter into a service contract with each other and the terms of service for such contract. Further, Client agree and acknowledge that Wiraa shall not constitute as a party to such contract or form any kind of employer-employee relationship or partnership or joint venture between Wiraa and Users or any service relationship between Wiraa and Users.</p>
        <p class="mt-5">	Client agree, acknowledge and understand that any request before execution of service contract between Client and Professional, by any means, directly or indirectly, to contact the Professional shall be strictly prohibited. Direct contact may include, but is not limited to, sharing of contact number, personal email address, permanent/temporary address, social media handles or any other means of communication. </p>
        <p class="mt-5">	Client agree to abide by the dispute resolution process as agreed between Client and Professional in the service contract and if not, then Client and Professional may pursue their dispute, at their own discretion. Wiraa shall not be held liable or obligated to resolve any disputes between Client and Professional beyond the extent of mutual discussions and probable amicable settlement between Client and Professional.</p>

        <h5 class="mt-5 text-dark heading">6.	FEES AND PAYMENTS</h5>
        <p class="mt-5">	Client agree to pay a conveyance fee at the rate of 1.8% of project fee for payment processing and administration of the payments to Professionals they engage through Wiraa. Wiraa reserves the right to amend the fees from time to time on sole discretion of Wiraa. Client hereby irrevocably authorises Wiraa to deduct such conveyance fee from the Client escrow account.</p>
        <p class="mt-5">	Client may opt to pay for membership plans to access additional features and benefits of Wiraa services, as described in Subscription Packages on Wiraa.</p>

        <h5 class="mt-5 text-dark heading">7.	ESCROW ACCOUNT</h5>
        <p class="mt-5">	Once the Client enters service contract with Professional and make the first payment towards the project, Wiraa escrow shall establish and maintain a “Client Escrow Account” to hold funds for the Client to be used to make payments, to receive refunds regarding projects and to make payments to Wiraa.</p>
        <p class="mt-5">	Wiraa escrow account operate in US dollars. Wiraa shall not be responsible for currency fluctuations occur while sending or receiving payments to and/or from escrow account or while billing or crediting a payment method denominated in a currency other than US dollars.</p>
        <p class="mt-5">	Wiraa provides escrow services to Client to deliver, hold or make payment for a project and to pay fees to Wiraa. Escrow account shall solely be used for business transactions administered through Wiraa. Client agree and acknowledge to use the escrow account for business purposes only and not for consumer or personal purposes.</p>
        <p class="mt-5">	Once the project is finalised with Professional, Client shall credit the project amount in the escrow account to be paid to Professional for their services and to Wiraa and shall release such amount on completion of the project or as agreed with the Professional.</p>
        <p class="mt-5">	Wiraa reserves the right, in our sole discretion, but under no obligation, to resolve the disputes through arbitration or other legal proceedings, between Client and Professional related to any project or escrow account.</p>

        <h5 class="mt-5 text-dark heading">8.	TERMINATION</h5>
        <p class="mt-5">	This Agreement may be terminated by either party upon written notice to the other, on their sole discretion, at any time, which shall result in termination of any other Terms of Service as well, except as otherwise provided herein.</p>
        <p class="mt-5">	Client agree and acknowledge that in case of termination of this agreement during any ongoing project(s), then (a) Client will continue to be bound by the terms and conditions of this Agreement and other Terms of Service till the completion of such project(s); (b) Wiraa will continue to provide site services during such project or any transactions related thereto; (c) Client will be liable to pay to Wiraa for the services so availed or such other amounts due as per the Terms of Service or to the Professionals for their services, which are accrued but unpaid as on the date of termination or on the date of completion of such project(s), whichever is later</p>
        <p class="mt-5">	The termination of this Agreement shall not affect any rights, remedies, obligations, or liabilities of the Parties that have accrued up to the date of termination, including the right to claim damages in respect of any breach of the agreement, which existed on or before the date of termination.</p>
        <p class="mt-5">	Upon termination of this Agreement, Wiraa reserves the right to temporarily or permanently close or limit access to the Wiraa or Wiraa services, or revoke the registration or prohibit to use the services of Wiraa, if Client breaches the letter or spirit of the terms and conditions of this Agreement or any other provisions of Terms of Service as mentioned on Wiraa Site; or provided any false or misleading information and/or statement to Wiraa; or as required by law or by the legal authorities. Wiraa shall not be under obligation to notify or provide any information about the closed account status to other users who have entered the service contracts with Client.</p>
        <p class="mt-5">	Except as otherwise required by law, if your Wiraa account is closed for any reason whatsoever, you shall no longer have access to any data, files, reports, or any other details related or held in the account, or any deletion of data subject to closure of account, for which Wiraa shall not have any liability whatsoever. Wiraa, may retain some or all your account information, in its sole discretion and as permitted or required by law.</p>

        <h5 class="mt-5 text-dark heading">9.	INDEMNIFICATION</h5>
        <p class="mt-5">	Each Party (the “Indemnifying Party”) shall defend, indemnify and hold the other Party (the “Indemnified Party”) and its Affiliates and their successors and assigns, and their respective directors, officers, employees, agents or subcontractors harmless from and against all third party claims, causes of actions, suits and proceedings, liabilities, damages, losses, costs and expenses (including, without limitation, reasonable attorneys’ fees and costs) arising out of or relating to such Party’s performance of Services as required herein (each, a “Claim”).</p>
        <p class="mt-5">	The Indemnified Party shall promptly notify the Indemnifying Party of all threats, claims and proceedings relating to any Claim, permit the Indemnifying Party to control the investigation, defence, and settlement of all such Claims and provide the Indemnifying Party with reasonable cooperation, at the Indemnifying Party’s expense, in the defence and/or settlement of such Claims.</p>
        <p class="mt-5">	The Indemnifying Party shall not settle or agree to any compromise with respect to any Claim on the Indemnified Party’s behalf without the Indemnified Party’s prior written approval, which shall not be unreasonably withheld.</p>

        <h5 class="mt-5 text-dark heading">10.	CONFIDENTIALITY</h5>
        <p class="mt-5">	Confidential Information does not include any information, or any portion of any document based thereon, that:</p>
        <p class="mt-5">a.	is now or subsequently becomes publicly known or available by publication, commercial use or otherwise without breach of this Agreement by the Client; or</p>
        <p class="mt-5">b.	is known to the Clients or its employees or affiliates at the time of receipt; or</p>
        <p class="mt-5">c.	is subsequently rightfully furnished to the Client by a third person without a restriction on disclosure; or</p>
        <p class="mt-5">d.	if disclosed to a third party under any law or regulation for the time being in force in the applicable jurisdiction.</p>
        <p class="mt-5">	Limitations of Disclosure: Client must follow commercially reasonable procedures to maintain the confidentiality of the Wiraa’s Confidential Information and may not disclose, reproduce, or otherwise discuss or make available all or any part of the Confidential Information in any form to any person or entity at any time. However, the Client may disclose all or any part of the Confidential Information to its employees on a need-to-know basis relating solely to the performance of this Agreement. The Client must inform each of its employees to whom the Confidential Information is disclosed of the nature of the information and must require them to treat such information confidentially. At the request of the Wiraa, the Client must obtain confidentiality agreement in a form approved by the Wiraa from each of its employees and agents to whom the Confidential Information is disclosed. If the Client is requested or ordered to disclose any part of the Confidential Information in any judicial or administrative proceeding, the Client must give the Wiraa prompt written notice of such request or order so that the Wiraa may take appropriate lawful preventive action. If the Client is nonetheless compelled to disclose all or any part of the Confidential Information, it may do so without liability under this Agreement so long as it uses its best efforts to obtain assurances that Confidential Information treatment will be accorded to such information.</p>
        <p class="mt-5">	Limitations on Use: The Client may not use the Confidential Information for any purpose other than the performance of this Agreement.</p>
        <p class="mt-5">	Return or Destruction: Upon the request of the Wiraa, the Client must promptly return all copies of all Confidential Information furnished by the Wiraa, and must promptly destroy all other Confidential Information, including all copies of notes, analysis, compilations, studies or other physical or electronic documents prepared by the Client. Each Party’s Confidential Information must be returned or destroyed following the termination of this Agreement.</p>

        <h5 class="mt-5 text-dark heading">11.	INTELLECTUAL PROPERTY</h5>
        <p class="mt-5">All Intellectual Property Rights comprised in any and all materials (including, but is not limited to, software, source code, documentation, data, concepts and ideas) or any part thereof created or developed (whether jointly or independently by the Wiraa/Client and/or Professional) during the term of the service, shall, unless otherwise expressly agreed between the Parties, be deemed to be irrevocably assigned to and shall vest in the Wiraa upon creation without any further charge. If required by the Wiraa, Professional shall agree and sign all the documents necessary to vest all such Intellectual Property Rights assigned or otherwise transferred or granted to the Wiraa under this Agreement.</p>

        <h5 class="mt-5 text-dark heading">12.	FORCE MAJEURE</h5>
        <p class="mt-5">	If either Party is totally or partially prevented or delayed in the performance of any of its obligations under this Agreement by an Event of Force Majeure and if such Party gives written notice thereof to the other Party specifying the matters constituting the Event of Force Majeure (as mentioned in Clause 8.2.), then the Party so prevented or delayed shall be excused for the performance of the affected obligation as from the date of such notice for so long as such cause or delay shall continue.</p>
        <p class="mt-5">	For the purpose of this agreement the term “Event of Force Majeure” shall, include but is not limited to, an event or condition either classified as (i) wars or war like situation (whether actual or threatened and whether conventional or other, including but not limited to, chemical or biological wars or war-like actions), acts of terrorism or threats of terrorism, civil riots, sabotage, hostilities, public disorder, explosions, epidemics, pandemics, lockdowns, work stoppages by order (civil or military) of a government body with appropriate jurisdiction, weather or natural disasters, including but is not limited to, fires, floods, droughts, hurricanes, tornadoes, storms, or earthquakes, acts of God, Court orders, or governmental restrictions and actions, acts and decisions; (ii) makes it impossible for the Professional to perform its obligations under this Agreement; and (iii) frustrates the underlying purpose of this Agreement.</p>

        <h5 class="mt-5 text-dark heading">13.	LIMITED LIABILITY</h5>
        <p class="mt-5">	In no event shall Wiraa, its employees, affiliates or their related entities, be liable, whether in contract, warranty, tort (including negligence) or any other form of liability, for any indirect, special, incidental or consequential damages that may be incurred by the Client, or any loss of income, business or profits (whether direct or indirect) that may be incurred by the Client, or any claim, damages, or loss which may be incurred by the Client as a result of any of your transactions involving the Wiraa, even if the Client has been advised of the likelihood of such damages.</p>

        <h5 class="mt-5 text-dark heading">14.	DISPUTE RESOLUTION</h5>
        <p class="mt-5">	The Parties shall attempt to resolve any dispute, claim or controversy arising under, out of or in connection with this Agreement (a “Dispute”) amicably. In no event shall any Party commence any judicial or arbitral proceeding against another Party without providing to the other Party to the Dispute a prior written notice of the Dispute with sufficient detail, including reference to the contractual provisions at issue, to allow the other Party to evaluate the dispute and negotiate its resolution.</p>
        <p class="mt-5">	If the Parties are not able to resolve the dispute through mutual discussions, either via telephone, online platform or otherwise as agreed between the parties, within seven (07) days, the Parties shall jointly appoint a sole arbitrator to resolve the dispute and the Parties shall equally share the costs of the arbitrator’s fees. The award of the arbitrator shall be final and binding on the Parties and non-appealable to the extent permitted by the Applicable Law.</p>
        <p class="mt-5">	Any dispute arising between Client and Professional, Client agree to abide by the dispute process as mutually agreed between Client and Professional (“disputing parties”) in the mutually executed service contract or otherwise as agreed. If dispute process shall not resolve the dispute between the disputing parties, they may pursue their dispute independently, provided Wiraa shall not be obliged to provide any dispute assistance beyond the extent of three rounds of negotiation and settlement discussion between the disputing parties.</p>
        <p class="mt-5">	The provisions of this Clause shall survive the termination of this Agreement.</p>
       
        <h5 class="mt-5 text-dark heading">15.	MISCELLANEOUS</h5>
        <p class="mt-5">	Entire Agreement: This Agreement contains all the terms and conditions agreed on by the Parties with respect to the subject matter herein and supersedes any previous agreements or arrangements, whether written or oral, between the Parties.</p>
        <p class="mt-5">	Modification: This Agreement shall be modified or changed only by a written instrument signed by both Parties.</p>
        <p class="mt-5">	No Waiver: No failure or delay on the part of either Party relating to the exercise of any right, power, privilege or remedy provided under this Agreement shall operate as a waiver of such right, power, privilege or remedy or as a waiver of any preceding or succeeding breach by the other Party nor shall any single or partial exercise of any right, power, privilege or remedy preclude any other or further exercise of such or any other right, power, privilege or remedy provided in this Agreement all of which are several and cumulative and are not exclusive of each other or of any other rights or remedies otherwise available to either Party, at law or in equity.</p>
        <p class="mt-5">	Severability: If any part, term, or provision of this Agreement shall be found to be invalid, illegal, unenforceable, or in conflict with any valid controlling law, by a judicial or quasi-judicial body having competent jurisdiction, such term or provision shall be separated from this Agreement and such invalidity, illegality or unenforceability shall not affect any other term or provision hereof and this Agreement shall be interpreted and construed as if such term or provision, to the extent the same shall have been held invalid, illegal, or unenforceable, had never been contained herein. However, if the severance of a provision affects a Party's rights, the severance does not deprive that Party of its available remedies, including the right to terminate this Agreement.</p>
        <p class="mt-5">	Headings: Heading to this agreement are for convenience only and shall not be construed to limit or otherwise effect the terms of this Agreement.</p>
        <p class="mt-5">	Assignment: The Client shall not assign its interest and obligations stated herein without the prior written consent of Wiraa. </p>
        <p class="mt-5">	Survival: The provisions of this Agreement that by their nature are meant to survive the termination or expiry of this Agreement, including each Party’s confidentiality and indemnification obligations hereunder, shall survive the termination or expiration of this Agreement.</p>
        <p class="mt-5">	Parties to Act with Due Diligence: The Parties hereto shall dutifully perform all covenants of this Agreement in letter and spirit and shall otherwise act with due diligence and in good faith.</p>
        <p class="mt-5">	Disclosure by Parties: The Parties hereto state and affirm that they have, prior to and at the time of entering into this Agreement, made full disclosure of all material circumstances and information known to it respecting the subject matter of the Agreement and transaction which would be likely to influence the conduct or decision of the other Party.</p>
        <p class="mt-5">	Notices: Any notice or other communication under this Agreement must be in writing and must be sent by e-mail. Unless otherwise designated by the Parties, notice must be sent to the above-mentioned addresses.</p>
        <p class="mt-5">	Governing Law and Jurisdiction: This Agreement shall, in all respects, be governed by and construed in all respects, including in relation to any disputes arising under, out or connection with, this Agreement, in accordance with the laws of India without giving effect to conflict of laws principles and shall be subject to the exclusive jurisdiction of the courts of Bhopal, India.</p>
        <p class="mt-5"></p>
    </div>

        <!--Footer start-->
        <div class="bb-full-width bb-footer-bfor-login">
            <div class="footer-wrap">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <section class="widget">
                                    <img src="~/Content/img/logow_white.png" style="height: 40px; margin-bottom: 20px;">
                                    <p class="pull-bottom-small">
                                        Connect With Experts
                                    </p>
                                    <p>
                                        <!-- <a href="page-about-us-2.html">Read More →</a> -->
                                    </p>
                                </section>
                            </div>
                            <div class="col-sm-2 col-6">
                                <section class="widget">
                                    <div class="widget-heading">
                                        <!-- <h4>Contact Us</h4> -->
                                    </div>
                                    <div class="footer-contact-info">
                                        <ul>
                                            <li>
                                                <a href="/Account/Signup"><p>Join</p></a>
                                            </li>
                                            <li>
                                                <a href="/Home/AboutUs"><p>About</p></a>
                                            </li>
                                            <li>
                                                <a href="/Home/faq"><p>FAQ</p></a>
                                            </li>
                                            <li>
                                                <a href="https://wiraa.com/blog/"><p>Blog</p></a>
                                            </li>
                                        </ul>
                                        <br>
                                    </div>
                                </section>
                            </div>
                            <div class="col-sm-2 col-6">
                                <section class="widget">
                                    <div class="widget-heading">
                                        <!-- <h4>Contact Us</h4> -->
                                    </div>
                                    <div class="footer-contact-info">
                                        <ul>
                                            <li>
                                                <a href="/Home/career"><p>Career</p></a>
                                            </li>
                                            <li>
                                                <a href="/Home/contactUs"><p>Contact</p></a>
                                            </li>
                                            <li>
                                                <a href="/home/PrivacyPolicy"><p>Privacy</p></a>
                                            </li>
                                            <li>
                                                <a href="/Home/Terms"><p>Terms</p></a>
                                            </li>
                                        </ul>
                                        <br>
                                    </div>
                                </section>
                            </div>

                            <div class="col-sm-3">
                                <section class="widget">
                                    <div class="widget-heading">
                                        <h4>Follow Us</h4>
                                    </div>
                                    <ul class="social-icons standard">
                                        <li class="youtube"><a href="https://instagram.com/wiraaworld" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li class="googleplus"><a href=" https://www.linkedin.com/company/wiraa" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        <li class="facebook"><a href="https://www.facebook.com/wiraaworld" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>


</body>
</html>
