/* MyPage.css */

.page {
    padding: 20px;
    /* background-color: aqua; */
  }
  
  .text-content {
    padding: 20px;
    /* background-color: blueviolet; */
    margin-top: 50px;
  }
  
  .image-content {
    text-align: center;
   
    /* background-color: aqua; */

  }
  
  .wiraastartup_img1 {
    margin-top: 100px;
    max-width: 100%;
    background-color: #fff;
    /* height: 100%; */
    
  }
  .wiraastartup_h1{
    font-size: 80px;
  }

  .wiraastartup_h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
  }

  .wiraastartup_p{
    font-size: 24px;
    color: grey;
    margin-top: 40px;
  }
.wiraastartup_btn{
    font-family: 'Helvetica-bold';
    border-radius: 40px;
    
    margin-top: 45px;
    height: 7vh;
    width: 30vh;
    /* box-shadow: 0 14px 26px -12px rgba(86, 86, 87, 0.42), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgba(57, 59, 59, 0.2); */
    line-height: 42px;
    padding: 0 25px; 
    /* border-style: none; */
    /* border-radius: 20px; */
    border: 2px solid grey;
    color: #fff;
    background-color: rgb(63, 60, 60);
    display: inline-block;
    font-size: 18px;
    /* font-weight: 500; */
    cursor: -webkit-grab; cursor: grab;
    -webkit-transition: .5s all ease-in;
    -moz-transition: .5s all ease-in;
    -o-transition: .5s all ease-in;
    transition: .5s all ease-in;
}

.startupimg{
    max-width: 100%;
    /* background-color: #fff; */
    

}

.startup-h6{
    font-size: 22px;
    font-weight:600;
    /* margin-top: 30px; */
    margin-top: 90px;
} 
.startups-h6{
    font-size: 20px;
     color:grey; 
    /* font-weight:400; */
    
    
} 
.startup-div h3{
    font-size: 16px;
    /* font-weight: 400; */
}

.startup-div {
    border: 2px solid #008080;
    border-radius: 20px;
    padding: 5px;
    width:100%;
}

.extra_content{
       
    border: 2px solid #008080;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
}

.startup_p{
    font-size: 20px;
    font-weight: 600;
    /* font-weight: none; */
    /* padding: 10px 10px; */

}