.btn20{
    
    padding:6px 60px ;
    background-color: #008080;
    color: white; 
    margin-top: 50px;  
    font-weight: 600;

}
.btn19{
    padding:6px 60px ;
    /* background-color: #008080; */
    color: #008080; 
    margin-top: 50px; 
    border-radius: 6px;
    border: 2px solid #008080;
    font-weight: 600;
}
.btnHolder{
    /* background-color: blue; */
    width: 50%;
    display: flex;
    justify-content: space-between;
}
